#### Stack overflow datasets we are using:
#### 'survey_results_public.csv'
##### 'survey_results_schema.csv'

In [1]:
import pandas as pd

##  Pandas part 1

### Creating our dataframe

In [3]:
df=pd.DataFrame({'animals':['snake','fox','deer','lion','shark','eagle','dog','bat']})
print(df)
print("\n",df.head())
print("\n",df.head(8))

  animals
0   snake
1     fox
2    deer
3    lion
4   shark
5   eagle
6     dog
7     bat

   animals
0   snake
1     fox
2    deer
3    lion
4   shark

   animals
0   snake
1     fox
2    deer
3    lion
4   shark
5   eagle
6     dog
7     bat

In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\PRANJAL CHAKRABORTY\\python basics'

In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=['column1','column2','column3','column4'])
print(df.head())

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

### converting our dataframe to a csv file

In [5]:
df.to_csv('test1.csv')

## Pandas part2:

### Acessing our dataframe elements and slicing techniques

In [6]:
print(df.loc['row1'])
print(type(df.loc['row1']))
cf=df.loc['row4']
print(cf)

column1    0
column2    1
column3    2
column4    3
Name: row1, dtype: int32
<class 'pandas.core.series.Series'>
column1    12
column2    13
column3    14
column4    15
Name: row4, dtype: int32

In [11]:
print(type(df.iloc[:,:]))
print(df.iloc[:,:])
print(df.iloc[0:1,0:1])
print("\n",type(df.iloc[0:1,0:1]))
print()
print(df.iloc[0:2])
print()
print()
print(df.iloc[4,0:3])
print()
print(df.iloc[0:2,0])
print()
print(df.iloc[0,0:4])
print(type(df.iloc[0,0:4]))

<class 'pandas.core.frame.DataFrame'>
      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19
      column1
row1        0

 <class 'pandas.core.frame.DataFrame'>

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7


column1    16
column2    17
column3    18
Name: row5, dtype: int32

row1    0
row2    4
Name: column1, dtype: int32

column1    0
column2    1
column3    2
column4    3
Name: row1, dtype: int32
<class 'pandas.core.series.Series'>

In [9]:
print(df)
print()
pr=df.iloc[1:,1:].values
print(pr)
print(pr.shape)

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

[[ 5  6  7]
 [ 9 10 11]
 [13 14 15]
 [17 18 19]]
(4, 3)

#### isnull(): checks and returns true false values for each elements of dataframe
#### sum(): counts the sum of values occuring
#### unique(): returns all the unique values

In [8]:
print(df.isnull())
print()
print(df.isnull().sum())
print()
print(df['column3'].value_counts())
print()
print(df['column4'].unique())
print()
print(df[['column3','column2']])

      column1  column2  column3  column4
row1    False    False    False    False
row2    False    False    False    False
row3    False    False    False    False
row4    False    False    False    False
row5    False    False    False    False

column1    0
column2    0
column3    0
column4    0
dtype: int64

2     1
6     1
10    1
14    1
18    1
Name: column3, dtype: int64

[ 3  7 11 15 19]

      column3  column2
row1        2        1
row2        6        5
row3       10        9
row4       14       13
row5       18       17

In [20]:
import pandas as pd
import numpy as np
df=pd.read_csv('survey_results_public.csv')
print(df.shape)
#pd.set_option('display.max_columns',61)
#pd.set_option('display.max_rows',64461)
df.head(64461)

(64461, 61)

In [22]:
print(df.head(64461))

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

#### .info(): gives us the information of all rows in our dataframe

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB
None

#### here we are going to set our index manually of our dataframe using the set_index() using pandas

In [14]:
import pandas as pd
import numpy as np
c={"first":["Ram","Rah","Roy"],
   "last":["Raj","Joy","Sin"],
   "email":["rraj@gmail.com","rjoy@gmail.com","rsin@gmail.com"]
  }
df=pd.DataFrame(c)
print(df)
print()
print()
df.set_index('email',inplace=True)
print(df)
print()
print()
print(df.loc['rjoy@gmail.com'])
print("\n name is:",df.loc['rjoy@gmail.com','last'])
print("\n")
print(df.iloc[0])

  first last           email
0   Ram  Raj  rraj@gmail.com
1   Rah  Joy  rjoy@gmail.com
2   Roy  Sin  rsin@gmail.com


               first last
email
rraj@gmail.com   Ram  Raj
rjoy@gmail.com   Rah  Joy
rsin@gmail.com   Roy  Sin


first    Rah
last     Joy
Name: rjoy@gmail.com, dtype: object

 name is: Joy


first    Ram
last     Raj
Name: rraj@gmail.com, dtype: object

#### here we are setting index while creating our dataframe using index_col in the .read_csv() method

In [29]:
import pandas as pd
import numpy as np
df=pd.read_csv('survey_results_public.csv',index_col='Respondent')
df.head(5)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

## Pandas part3

##### Some general operations done with our "survey_results_schema.csv" file

In [38]:
schema_df=pd.read_csv('survey_results_schema.csv',index_col='Column')
print(schema_df)
print()
print(schema_df.loc['Hobbyist'])

                                                                   QuestionText
Column
Respondent                    Randomized respondent ID number (not in order ...
MainBranch                    Which of the following options best describes ...
Hobbyist                                                Do you code as a hobby?
Age                           What is your age (in years)? If you prefer not...
Age1stCode                    At what age did you write your first line of c...
CompFreq                       Is that compensation weekly, monthly, or yearly?
CompTotal                     What is your current total compensation (salar...
ConvertedComp                 Salary converted to annual USD salaries using ...
Country                                                      Where do you live?
CurrencyDesc                  Which currency do you use day-to-day? If your ...
CurrencySymbol                Which currency do you use day-to-day? If your ...
DatabaseDesireNextYear        Which database environments have you done exte...
DatabaseWorkedWith            Which database environments have you done exte...
DevType                       Which of the following describe you? Please se...
EdLevel                       Which of the following best describes the high...
Employment                    Which of the following best describes your cur...
Ethnicity                     Which of the following describe you, if any? P...
Gender                        Which of the following describe you, if any? P...
JobFactors                    Imagine that you are deciding between two job ...
JobSat                        How satisfied are you with your current job? (...
JobSeek                       Which of the following best describes your cur...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
LanguageWorkedWith            Which programming, scripting, and markup langu...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWEdImpt                     How important is a formal education, such as a...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWLearn                      How frequently do you learn a new language or ...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOtherComms                 Are you a member of any other online developer...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWPurpleLink                 You search for a coding solution online and th...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWStuck                      What do you do when you get stuck on a problem...
OpSys                         What is the primary operating system in which ...
OrgSize                       Approximately how many people are employed by ...
PlatformDesireNextYear        Which platforms have you done extensive develo...
PlatformWorkedWith            Which platforms have you done extensive develo...
PurchaseWhat                  What level of influence do you, personally, ha...
Sexuality                     Which of the following describe you, if any? P...
SOAccount                                 Do you have a Stack Overflow account?
SOComm                        Do you consider yourself a member of the Stack...
SOPartFreq                    How frequently would you say you participate i...
SOVisitFreq                   How frequently would you say you visit Stack O...
SurveyEase                    How easy or difficult was this survey to compl...
SurveyLength                  How do you feel about the length of the survey...
Trans                                                      Are you transgender?
UndergradMajor                            What was your primary field of study?
WebframeDesireNextYear        Which web frameworks have you done extensive d...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WelcomeChange                 Compared to last year, how welcome do you feel...
WorkWeekHrs                   On average, how many hours per week do you wor...
YearsCode                     Including any education, how many years have y...
YearsCodePro                  NOT including education, how many years have y...

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

In [40]:
print(schema_df.loc['Gender','QuestionText'])

Which of the following describe you, if any? Please check all that apply. If you prefer not to answer, you may leave this question blank.

In [43]:
print("\n")
schema_df.sort_index(ascending=False,inplace=True)
print(schema_df)

                                                                   QuestionText
Column
YearsCodePro                  NOT including education, how many years have y...
YearsCode                     Including any education, how many years have y...
WorkWeekHrs                   On average, how many hours per week do you wor...
WelcomeChange                 Compared to last year, how welcome do you feel...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WebframeDesireNextYear        Which web frameworks have you done extensive d...
UndergradMajor                            What was your primary field of study?
Trans                                                      Are you transgender?
SurveyLength                  How do you feel about the length of the survey...
SurveyEase                    How easy or difficult was this survey to compl...
Sexuality                     Which of the following describe you, if any? P...
SOVisitFreq                   How frequently would you say you visit Stack O...
SOPartFreq                    How frequently would you say you participate i...
SOComm                        Do you consider yourself a member of the Stack...
SOAccount                                 Do you have a Stack Overflow account?
Respondent                    Randomized respondent ID number (not in order ...
PurchaseWhat                  What level of influence do you, personally, ha...
PlatformWorkedWith            Which platforms have you done extensive develo...
PlatformDesireNextYear        Which platforms have you done extensive develo...
OrgSize                       Approximately how many people are employed by ...
OpSys                         What is the primary operating system in which ...
NEWStuck                      What do you do when you get stuck on a problem...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWPurpleLink                 You search for a coding solution online and th...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWOtherComms                 Are you a member of any other online developer...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWLearn                      How frequently do you learn a new language or ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWEdImpt                     How important is a formal education, such as a...
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MainBranch                    Which of the following options best describes ...
LanguageWorkedWith            Which programming, scripting, and markup langu...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
JobSeek                       Which of the following best describes your cur...
JobSat                        How satisfied are you with your current job? (...
JobFactors                    Imagine that you are deciding between two job ...
Hobbyist                                                Do you code as a hobby?
Gender                        Which of the following describe you, if any? P...
Ethnicity                     Which of the following describe you, if any? P...
Employment                    Which of the following best describes your cur...
EdLevel                       Which of the following best describes the high...
DevType                       Which of the following describe you? Please se...
DatabaseWorkedWith            Which database environments have you done exte...
DatabaseDesireNextYear        Which database environments have you done exte...
CurrencySymbol                Which currency do you use day-to-day? If your ...
CurrencyDesc                  Which currency do you use day-to-day? If your ...
Country                                                      Where do you live?
ConvertedComp                 Salary converted to annual USD salaries using ...
CompTotal                     What is your current total compensation (salar...
CompFreq                       Is that compensation weekly, monthly, or yearly?
Age1stCode                    At what age did you write your first line of c...
Age                           What is your age (in years)? If you prefer not...

# Pandas part-4...Filtering Data

In [2]:
import pandas as pd
df=pd.DataFrame({"first":["corey","jane","john"],"last":["schafer","doe","doe"],"email":["cms@gmail.com","janedoe@gmail.com","johndoe@gmail.com"]})
df

   first     last              email
0  corey  schafer      cms@gmail.com
1   jane      doe  janedoe@gmail.com
2   john      doe  johndoe@gmail.com

In [5]:
filt=(df['last']=="schafer") and (df['first']=='corey')

0     True
1    False
2    False
Name: last, dtype: bool

In [20]:
type(df.loc[filt,'email'])

pandas.core.series.Series

In [17]:
print(df['last']=='doe')
filt=(df['last']=='doe')
df[filt]

0    False
1     True
2     True
Name: last, dtype: bool

  first last              email
1  jane  doe  janedoe@gmail.com
2  john  doe  johndoe@gmail.com

In [19]:
filt=(df['last']=='doe')
df.loc[filt]

  first last              email
1  jane  doe  janedoe@gmail.com
2  john  doe  johndoe@gmail.com

In [22]:
filt=(df["last"]=='doe')
df.loc[filt,'email']

1    janedoe@gmail.com
2    johndoe@gmail.com
Name: email, dtype: object

In [28]:
filt=(df['last']=='doe') & (df['first']=='john')
df.loc[filt,'email']

2    johndoe@gmail.com
Name: email, dtype: object

In [29]:
filt=(df['last']=='schafer') | (df['first']=='jane')
df.loc[filt,'email']

0        cms@gmail.com
1    janedoe@gmail.com
Name: email, dtype: object

# Filtering data with stack oveflow dataset

In [1]:
import pandas as pd
df=pd.read_csv('survey_results_public.csv',index_col='Respondent')

In [2]:
pd.set_option('display.max_columns',85)

In [3]:
df

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a decade,NaN,NaN,NaN,NaN,Start a free trial,Amused,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend,Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,NaN,NaN,NaN,Primary/elementary school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,DynamoDB;Elasticsearch;MongoDB;MySQL;PostgreSQL,Oracle,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript,HTML/CSS,Node.js,NaN,Github;Gitlab,Confluence;Jira;Slack;Microsoft Teams,NaN,NaN,NaN,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow,Windows,NaN,NaN,Linux;Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,MariaDB;Microsoft SQL Server,MariaDB;Microsoft SQL Server;MySQL;Oracle,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Java;JavaScript;SQL,C#;HTML/CSS;Java;JavaScript;SQL,.NET Core;Xamarin,.NET;.NET Core,Github;Microsoft Teams,Github,NaN,NaN,Critically important,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial;Ask developers I know/work ...,Indifferent,NaN,Meditate;Visit Stack Overflow;Go for a walk or...,Windows,NaN,Arduino;Linux;Raspberry Pi;Windows,Android;Arduino;Linux;Raspberry Pi;Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [6]:
highsal=(df['ConvertedComp'] > 70000)
df.loc[highsal,['Country','LanguageWorkedWith','ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
8,United States,Python;SQL,116000.0
16,United Kingdom,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,108576.0
17,United States,C#;HTML/CSS;JavaScript;Python;SQL;VBA,79000.0
18,United States,Bash/Shell/PowerShell;HTML/CSS;Perl,1260000.0
19,United States,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...,83400.0
...,...,...,...
65586,United States,NaN,225000.0
65589,United States,NaN,150000.0
65602,United States,NaN,140000.0
65604,United States,NaN,150000.0
65617,Germany,NaN,129718.0

In [7]:
filt1=df['Country'].isin(['India','United States','Canada','Germany'])
df.loc[filt1,'Country']

Respondent
1              Germany
5        United States
6              Germany
7                India
8        United States
             ...
62834           Canada
62954            India
63077    United States
64236            India
64858    United States
Name: Country, Length: 26953, dtype: object

In [9]:
filt2=df['LanguageWorkedWith'].str.contains('Python',na=False)
df.loc[filt2,'LanguageWorkedWith']

Respondent
3                                 Objective-C;Python;Swift
8                                               Python;SQL
10                     HTML/CSS;Java;JavaScript;Python;SQL
13                                     C;JavaScript;Python
15        Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL
                               ...
61561    Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...
62391       C++;HTML/CSS;JavaScript;Python;Ruby;TypeScript
63077              C++;HTML/CSS;Java;JavaScript;Python;SQL
63640    Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
64867    Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
Name: LanguageWorkedWith, Length: 25287, dtype: object

# Pandas part-5... Updating rows and columns and modifying data....first part...normal data

## Updating column values

In [2]:
import pandas as pd
df=pd.DataFrame({"first":["corey","jane","john"],"last":["schafer","doe","doe"],"email":["cms@gmail.com","janedoe@gmail.com","johndoe@gmail.com"]})
df

   first     last              email
0  corey  schafer      cms@gmail.com
1   jane      doe  janedoe@gmail.com
2   john      doe  johndoe@gmail.com

In [4]:
df.columns=['first_name','last_name','email']
df

  first_name last_name              email
0      corey   schafer      cms@gmail.com
1       jane       doe  janedoe@gmail.com
2       john       doe  johndoe@gmail.com

In [5]:
df.columns=[x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME              EMAIL
0      corey   schafer      cms@gmail.com
1       jane       doe  janedoe@gmail.com
2       john       doe  johndoe@gmail.com

In [6]:
df.columns=df.columns.str.replace('_',' ')
df
df.columns=df.columns.str.replace(' ','_')
df

  FIRST_NAME LAST_NAME              EMAIL
0      corey   schafer      cms@gmail.com
1       jane       doe  janedoe@gmail.com
2       john       doe  johndoe@gmail.com

In [7]:
df.rename(columns={'FIRST_NAME':'first','LAST_NAME':'last','EMAIL':'email'},inplace=True)
df

   first     last              email
0  corey  schafer      cms@gmail.com
1   jane      doe  janedoe@gmail.com
2   john      doe  johndoe@gmail.com

## Updating row values

In [8]:
filt=df['first']=='john'
df.loc[filt]=['devon','convey','dconvey@gmail.com']
df

   first     last              email
0  corey  schafer      cms@gmail.com
1   jane      doe  janedoe@gmail.com
2  devon   convey  dconvey@gmail.com

In [10]:
df.loc[2,['first','last','email']]=['john','smith','johndoe@gmail.com']
df

   first     last              email
0  corey  schafer      cms@gmail.com
1   jane      doe  janedoe@gmail.com
2   john    smith  johndoe@gmail.com

In [14]:
df.loc[2,'last']='doe'
df

   first     last              email
0  corey  schafer      cms@gmail.com
1   jane      doe  janedoe@gmail.com
2   john      doe  johndoe@gmail.com

In [15]:
df['email']=df['email'].str.upper()
df

   first     last              email
0  corey  schafer      CMS@GMAIL.COM
1   jane      doe  JANEDOE@GMAIL.COM
2   john      doe  JOHNDOE@GMAIL.COM

## .apply() method for series and series in dataframes

In [3]:
import pandas as pd
df=pd.DataFrame({"first":["corey","jane","john"],"last":["schafer","doe","doe"],"email":["cms@gmail.com","janedoe@gmail.com","johndoe@gmail.com"]})
df

   first     last              email
0  corey  schafer      cms@gmail.com
1   jane      doe  janedoe@gmail.com
2   john      doe  johndoe@gmail.com

In [4]:
def update_email(email):
    return email.upper()

df['email']=df['email'].apply(update_email)
df

   first     last              email
0  corey  schafer      CMS@GMAIL.COM
1   jane      doe  JANEDOE@GMAIL.COM
2   john      doe  JOHNDOE@GMAIL.COM

In [5]:
df['email']=df['email'].apply(lambda x:x.lower())
df

   first     last              email
0  corey  schafer      cms@gmail.com
1   jane      doe  janedoe@gmail.com
2   john      doe  johndoe@gmail.com

In [6]:
df['email'].apply(len)

0    13
1    17
2    17
Name: email, dtype: int64

In [7]:
df.apply(len)
#here the elements are counted row wise for each column

first    3
last     3
email    3
marks    3
dtype: int64

In [8]:
df.apply(len,axis='columns')

0    4
1    4
2    4
dtype: int64

## .applymap() method for all the values of dataframe

In [2]:
import pandas as pd
df=pd.DataFrame({"first":["corey","jane","john"],"last":["schafer","doe","doe"],"email":["cms@gmail.com","janedoe@gmail.com","johndoe@gmail.com"]
                ,'marks':[97,56,85]})
df

   first     last              email  marks
0  corey  schafer      cms@gmail.com     97
1   jane      doe  janedoe@gmail.com     56
2   john      doe  johndoe@gmail.com     85

In [2]:
df.apply(pd.Series.max)

first                 john
last               schafer
email    johndoe@gmail.com
marks                   97
dtype: object

In [3]:
def length(x):
    return len(str(x))
df.applymap(length)

   first  last  email  marks
0      5     7     13      2
1      4     3     17      2
2      4     3     17      2

In [5]:
df.applymap(lambda x:str(x).upper())

   first     last              email marks
0  COREY  SCHAFER      CMS@GMAIL.COM    97
1   JANE      DOE  JANEDOE@GMAIL.COM    56
2   JOHN      DOE  JOHNDOE@GMAIL.COM    85

In [3]:
df.applymap(lambda x:str(x).lower())

   first     last              email marks
0  corey  schafer      cms@gmail.com    97
1   jane      doe  janedoe@gmail.com    56
2   john      doe  johndoe@gmail.com    85

In [4]:
df

   first     last              email  marks
0  corey  schafer      cms@gmail.com     97
1   jane      doe  janedoe@gmail.com     56
2   john      doe  johndoe@gmail.com     85

In [5]:
df.applymap(lambda x:len(str(x)))

   first  last  email  marks
0      5     7     13      2
1      4     3     17      2
2      4     3     17      2

## map() and replace()

In [8]:
df['first']=df['first'].map({'corey':'harry','jane':'marry'})
df

   first     last              email  marks
0  harry  schafer      cms@gmail.com     97
1  marry      doe  janedoe@gmail.com     56
2    NaN      doe  johndoe@gmail.com     85

In [13]:
df['first']=df['first'].replace({'harry':'corey','marry':'jane'})
df.loc[2,'first']=['john']
df

   first     last              email  marks
0  corey  schafer      cms@gmail.com     97
1   jane      doe  janedoe@gmail.com     56
2   john      doe  johndoe@gmail.com     85

# Pandas part-6.... Adding and Deleting rows and columns

## Dealing with columns:

In [1]:
import pandas as pd
df=pd.DataFrame({"first":["corey","jane","john"],"last":["schafer","doe","doe"],"email":["cms@gmail.com","janedoe@gmail.com","johndoe@gmail.com"]})
df

   first     last              email
0  corey  schafer      cms@gmail.com
1   jane      doe  janedoe@gmail.com
2   john      doe  johndoe@gmail.com

In [2]:
df['address']=['mumbai','kolkata','pune']
df

   first     last              email  address
0  corey  schafer      cms@gmail.com   mumbai
1   jane      doe  janedoe@gmail.com  kolkata
2   john      doe  johndoe@gmail.com     pune

In [3]:
df

   first     last              email  address
0  corey  schafer      cms@gmail.com   mumbai
1   jane      doe  janedoe@gmail.com  kolkata
2   john      doe  johndoe@gmail.com     pune

In [4]:
df.insert(2,'gender',['male','female','male'])
df

   first     last  gender              email  address
0  corey  schafer    male      cms@gmail.com   mumbai
1   jane      doe  female  janedoe@gmail.com  kolkata
2   john      doe    male  johndoe@gmail.com     pune

In [5]:
df['first'] + ' ' +df['last']

0    corey schafer
1         jane doe
2         john doe
dtype: object

In [6]:
df['full_name']=df['first']+' '+df['last']
df

   first     last  gender              email  address      full_name
0  corey  schafer    male      cms@gmail.com   mumbai  corey schafer
1   jane      doe  female  janedoe@gmail.com  kolkata       jane doe
2   john      doe    male  johndoe@gmail.com     pune       john doe

In [7]:
df.drop(columns=['first','last'],inplace=True)
df

   gender              email  address      full_name
0    male      cms@gmail.com   mumbai  corey schafer
1  female  janedoe@gmail.com  kolkata       jane doe
2    male  johndoe@gmail.com     pune       john doe

In [8]:
df['full_name'].str.split(' ')

0    [corey, schafer]
1         [jane, doe]
2         [john, doe]
Name: full_name, dtype: object

In [9]:
df[['first','last']]=df['full_name'].str.split(' ',expand=True)
df

   gender              email  address      full_name  first     last
0    male      cms@gmail.com   mumbai  corey schafer  corey  schafer
1  female  janedoe@gmail.com  kolkata       jane doe   jane      doe
2    male  johndoe@gmail.com     pune       john doe   john      doe

In [10]:
df.drop(columns=['gender','address'],inplace=True)
df

               email      full_name  first     last
0      cms@gmail.com  corey schafer  corey  schafer
1  janedoe@gmail.com       jane doe   jane      doe
2  johndoe@gmail.com       john doe   john      doe

In [11]:
df=df.append({'first':'krish'},ignore_index=True)
df

               email      full_name  first     last
0      cms@gmail.com  corey schafer  corey  schafer
1  janedoe@gmail.com       jane doe   jane      doe
2  johndoe@gmail.com       john doe   john      doe
3                NaN            NaN  krish      NaN

In [12]:
import pandas as pd
dic={'first':['hitesh','andrew'],'last':['chowdhary','ng']
    ,'email':['hc@gmail.com','andrewng@coursea.com']}
df2=pd.DataFrame(dic)
df2

    first       last                 email
0  hitesh  chowdhary          hc@gmail.com
1  andrew         ng  andrewng@coursea.com

In [13]:
df=df.append(df2,ignore_index=True,sort=True)
df

                  email   first      full_name       last
0         cms@gmail.com   corey  corey schafer    schafer
1     janedoe@gmail.com    jane       jane doe        doe
2     johndoe@gmail.com    john       john doe        doe
3                   NaN   krish            NaN        NaN
4          hc@gmail.com  hitesh            NaN  chowdhary
5  andrewng@coursea.com  andrew            NaN         ng

In [19]:
filt=df['first'].isin(['andrew','hitesh'])
#df.loc[filt]
df.drop(index=df[filt].index,inplace=True)
df

               email  first      full_name     last
0      cms@gmail.com  corey  corey schafer  schafer
1  janedoe@gmail.com   jane       jane doe      doe
3                NaN  krish            NaN      NaN

# Pandas part 7....Sorting data in pandas

## Working with our small dataset

In [21]:
import pandas as pd
df=pd.DataFrame({"first":["corey","jane","john","adam"],"last":["schafer","doe","doe","doe"],"email":["cms@gmail.com","janedoe@gmail.com","johndoe@gmail.com","adamdoe@gmail.com"]})
df

   first     last              email
0  corey  schafer      cms@gmail.com
1   jane      doe  janedoe@gmail.com
2   john      doe  johndoe@gmail.com
3   adam      doe  adamdoe@gmail.com

In [22]:
df.sort_values(by='last')

   first     last              email
1   jane      doe  janedoe@gmail.com
2   john      doe  johndoe@gmail.com
3   adam      doe  adamdoe@gmail.com
0  corey  schafer      cms@gmail.com

In [23]:
df.sort_values(by='last',ascending=False,inplace=True)
df

   first     last              email
0  corey  schafer      cms@gmail.com
1   jane      doe  janedoe@gmail.com
2   john      doe  johndoe@gmail.com
3   adam      doe  adamdoe@gmail.com

In [24]:
df.sort_values(by=['last','first'],ascending=True)

   first     last              email
3   adam      doe  adamdoe@gmail.com
1   jane      doe  janedoe@gmail.com
2   john      doe  johndoe@gmail.com
0  corey  schafer      cms@gmail.com

In [25]:
df.sort_values(['last','first'],ascending=False)

   first     last              email
0  corey  schafer      cms@gmail.com
2   john      doe  johndoe@gmail.com
1   jane      doe  janedoe@gmail.com
3   adam      doe  adamdoe@gmail.com

In [27]:
df.sort_values(['last','first'],ascending=[False,True],inplace=True)
df

   first     last              email
0  corey  schafer      cms@gmail.com
3   adam      doe  adamdoe@gmail.com
1   jane      doe  janedoe@gmail.com
2   john      doe  johndoe@gmail.com

In [31]:
df.sort_index(inplace=True)
df

   first     last              email
0  corey  schafer      cms@gmail.com
1   jane      doe  janedoe@gmail.com
2   john      doe  johndoe@gmail.com
3   adam      doe  adamdoe@gmail.com

## Sorting data of Stack Overflow dataset

In [32]:
import pandas as pd
df=pd.read_csv('survey_results_public.csv',index_col='Respondent')

In [33]:
pd.set_option('display.max_columns',85)

In [35]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [41]:
df.sort_values(by='Country',inplace=True)
df['Country'].head(100)

Respondent
8631     Afghanistan
25001    Afghanistan
58171    Afghanistan
42668    Afghanistan
51509    Afghanistan
            ...
16043        Albania
65420        Albania
21952        Albania
28900        Albania
51520        Albania
Name: Country, Length: 100, dtype: object

In [45]:
df.sort_values(by=['Country','ConvertedComp'],ascending=[True,False],inplace=True)
df[['Country','ConvertedComp']].head(100)

                Country  ConvertedComp
Respondent
65381       Afghanistan      1000000.0
65456       Afghanistan      1000000.0
62788       Afghanistan      1000000.0
38672       Afghanistan       231192.0
28374       Afghanistan       130000.0
...                 ...            ...
51520           Albania        15900.0
23498           Albania        13776.0
37526           Albania        12972.0
564             Albania        10812.0
27714           Albania        10596.0

[100 rows x 2 columns]

In [46]:
df.nlargest(10,'ConvertedComp')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
54263,I am a developer by profession,Yes,29.0,10,Weekly,7.000000e+04,2000000.0,Canada,United States dollar,USD,Redis,Firebase;PostgreSQL;SQLite,"Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,South Asian,Man,"Flex time or a flexible schedule;Languages, fr...",Slightly satisfied,"I’m not actively looking, but I am open to new...",Go;Haskell;Rust,Dart;Java;JavaScript;Kotlin;Python;TypeScript,React Native;TensorFlow;Torch/PyTorch,Flutter;Node.js,Facebook Workplace,Confluence;Jira;Github;Gitlab;Slack;Microsoft ...,Yes,Extremely important,Somewhat important,Just because;Curious about other opportunities...,"Read company media, such as employee blogs or ...",Every few months,Not sure,Yes,Yes,Rarely: 1-2 days per year or less,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Meditate;Visit Stack Overflow;Go for a walk or...,MacOS,NaN,Docker;Heroku;iOS;Kubernetes,Android;AWS;Linux,I have some influence,Straight / Heterosexual,Not sure/can't remember,"Yes, somewhat",NaN,Daily or almost daily,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",React.js;Vue.js,Express;Flask;jQuery,Just as welcome now as I felt last year,36.0,14,5
5725,I am a developer by profession,No,26.0,14,Monthly,1.800000e+05,2000000.0,Canada,United States dollar,USD,Redis,NaN,"Developer, back-end;DevOps specialist","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,Go;Python;Ruby;TypeScript,Bash/Shell/PowerShell;JavaScript;Python,Teraform,NaN,"Github;Gitlab;Google Suite (Docs, Meet, etc)","Github;Google Suite (Docs, Meet, etc)",Yes,Extremely important,Very important,Trouble with my teammates;Better work/life bal...,"Read company media, such as employee blogs or ...",Once a year,No,Yes,No,Often: 1-2 days per week or more,NaN,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Go for a walk or oth...,Linux-based,"10,000 or more employees",Docker;Google Cloud Platform,Docker;Google Cloud Platform,I have little or no influence,Straight / Heterosexual,Yes,"No, not at all",I have never participated in Q&A on Stack Over...,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Gatsby,Spring,Not applicable - I did not use Stack Overflow ...,40.0,10,4
43430,I am a developer by profession,Yes,33.0,17,Monthly,1.710000e+05,2000000.0,Italy,United States dollar,USD,NaN,NaN,"Academic researcher;Developer, back-end;Develo...","Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,White or of European descent,Man,"Languages, frameworks, and other technologies ...",Very satisfied,I am not interested in new job opportunities,Assembly;Bash/Shell/PowerShell;C;C++;Perl;Python,Assembly;Bash/Shell/PowerShell;C;C++;Perl;Python,NaN,NaN,Confluence;Jira;Github;Gitlab;Slack;Google Sui...,Confluence;Jira;Github;Gitlab;Slack;Google Sui...,Yes,Somewhat important,Fairly important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once every few years,Not sure,Yes,No,Often: 1-2 days per week or more,Start a free trial,Indifferent,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Go for a walk or oth...,Linux-based,"10,000 or more employees",Android;Linux;MacOS;Windows,Android;Linux;MacOS;Windows,I have some influence,Straight / Heterosexual,Yes,"No, not at all",I have never participated in Q&A on Stack Over...,A few times per month or weekly,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,2
59279,I am a developer by profession,Yes,NaN,12,Monthly,3.000000e+05,2000000.0,Nepal,United States dollar,USD,Cassandra;Couchbase;DynamoDB;IBM DB2;MariaDB;M...,Elasticsearch;Firebase;Microsoft SQL Server;My...,Data or business analyst;Data scientist or mac...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,South Asian;Southeast Asian,NaN,Flex time or a flexible schedule;Remote work o...,Very satisfied,"I’m not actively looking, but I am open to new...",Dart;Go;Haskell;Julia;Kotlin;Perl;PHP;R;Ruby;R...,Assembly;Bash/Shell/PowerShell;C;C#;C++;HTML/C...,Ansible;Apache Spark;Flutter;Hadoop;Keras;Pand...,.NET;.NET Core;Chef;Cordova;Node.js;React Nati...,Gitlab;Trello,Confluence;Jira;Github;Facebook Workplace;Slac...,Yes,Extremely important,NaN,Having a bad day (or week or month) at work;Tr...,"Read company media, such as employee blogs or ...",NaN,Yes,Yes,No,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,"1,000 to 4,999 employees",Arduino;Heroku;IBM Cloud or Watson;Kubernetes;...,Android;AWS;Docker;Google Cloud Platform;iOS;L...,I have a great deal of influence,NaN,Yes,"Yes, somewhat",I have never participated in Q&A on Stack Over...,Multiple times per day,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Django;Drupal;Flask;Gatsby;Laravel,Angular;Angular.js;ASP.NET;ASP.NET Core;Expres...,A lot more welcome now than last year,40.0,20,14
46711,I am a developer by profession,Yes,NaN,Younger than 5 years,Yearly,1.000000e+56,2000000.0,Nomadic,United States dollar,USD,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Academic researcher;Data or business analyst;D...,Primary/elementary school,Employed full-time,NaN,NaN,"Languages, frameworks, and other technologies ...",Very satisfied,"I’m not actively looking, but I am open to new...",Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,.NET;.NET Core;Ansible;Apache Spark;Chef;Cordo...,.NET;.NET Core;Ansible;Apache Spark;Chef;Cordo...,Confluence;Jira;Github;Gitlab;Facebook Workpla...,Confluence;Jira;Github;Gitlab;Facebook Workpla...,Yes,Extremely important,Not at all important/not necessary,Just because;Having a bad day (or week or mont...,"Read company media, such as employee blogs or ...",Every few months,NaN,Yes,NaN,Often: 1-2 days per week or more,NaN,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Meditate;Play games;Call a coworker or friend;...,NaN,"10,000 or more employees",Android;Arduino;AWS;Docker;Google Cloud Platfo...,Android;Arduino;AWS;Docker;Google Cloud Platfo...,I have little or no influence,NaN,NaN,NaN,NaN,Multiple times per day,NaN,NaN,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,NaN,168.0,More than 50 years,More than 50 years
1793,I am a developer by profession,Yes,27.0,16,Weekly,1.200000e+05,2000000.0,United States,United States dollar,USD,MariaDB;PostgreSQL;Redis,Elasticsearch;Oracle;SQLite,"Developer, back-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,"I’m not actively looking, but I am open to new...",Dart;Go;Ruby,Bash/Shell/PowerShell;C++;HTML/CSS;Python;Rust...,NaN,Ansible,NaN,Confluence;Jira;Github;Microsoft Teams,Yes,Neutral,Very important,Just because;Having a bad day (or week or mont...,"Read company media, such as employee blogs or ...",Once a year,No,Yes,No,Rarely: 1-2 days per year or less,NaN,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Linux-based,"1,000 to 4,999 employees",Android;Arduino,Docker;Linux;Raspberry Pi,I have little or no influence,Straight / Heterosexual,Yes,"No, not really",I have never participated in Q&A on Stack Over...,Daily or almost daily,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,12,NaN
3045,I am a developer by profession,Yes,35.0,12,Weekly,1.000000e+05,2000000.0,United States,United States dollar,USD,MongoDB;MySQL;Oracle;PostgreSQL;SQLite,DynamoDB;MariaDB;Microsoft SQL Server;MongoDB;...,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,Office environment or company culture;Opportun...,Slightly dissatisfied,I am actively looking for a job,Bash/Shell/PowerShell;C#;C++;Go;HTML/CSS;Java;...,Bash/Shell/PowerShell;C;C#;C++;Go;HTML/CSS;Jav...,.NET;.NET Core;Apache Spark;Hadoop;Unity 3D;Un...,.NET;.NET Core;Apache Spark;Hadoop;Node.js;Uni...,Github;Microsoft Teams;Microsoft Azure;Google ...,Github;Slack;Microsoft Teams;Microsoft Azure;G...,No,Not very important,Very important,Having a bad day (or week or month) at work;Wa...,Company reviews from third party sites (e.g. G...,Every few months,No,No,No,Sometimes: 1-2 days per month but less than we...,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Go for a walk ...,Windows,100 to 499 employees,Android;AWS;iOS;Kubernetes;Linux;MacOS;Microso...,Android;AWS;Linux;MacOS;Microsoft Azure;Windows,I have little or no influence,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Just as welcome now as I felt last year,42.0,23,5
3072,I am a developer by profession,Yes,32.0,22,Weekly,1.020000e+05,2000000.0,United States,United States dollar,USD,MongoDB,Microsoft SQL Server;Redis,Data scientist or machine learning specialist;...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,White or of European descent,Man,"Flex time or a flexible schedule;Languages, fr...",Very satisfied,"I’m not actively looking, but I am open to new...",C#;Python;Rust,C#;Python,.NET Core;Cordova;Pandas;TensorFlow;Torch/PyTorch,.NET Core;Pandas,Confluence;Gitlab;Microsoft Teams;Microsoft Az...,Confluence;Gitlab;Microsoft Azure,Yes,Extremely important,Very important,Curious about other opportunities;Growth or le...,"Read company media, such as employee blogs or ...",Once a year,No,No,No,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Meditate;Play games;Call a coworker or friend;...,Windows,"10,000 or more employees",Docker;Linux;Windows,Docker;Linux;Windows,I have some influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,A few times per month or weekly,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Flask,ASP.NET Core,Somewhat less welcome now than last year,40.0,10,7
1413,I am a developer by profession,Yes,25.0,12,Weekly,4.100000e+04,2000000.0,United States,United States dollar,USD,Microsoft SQL Server;MySQL,Microsoft SQL Server;MySQL,"Database administrator;Designer;Developer, bac...",Some college/university study without earning ...,Employed full-time,White or of European descent,"Non-binary, genderqueer, or gender non-conforming",Flex time or a flexible schedule;How widely us...,Slightly satisfied,"I’m not actively looking, but I am open to new...",Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...,NaN,NaN,Jira;Github,Github,No,Neutral,Fairly important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",NaN,Yes,Yes,No,Occasionally: 1-2 days per quarter but less th...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,Windows,500 to 999 employees,Linux;Raspberry Pi;Windows,Linux;Raspberry Pi;Windows;WordPress,I have some influence,Bisexual,Yes,"No, not really",Less than once per month or monthly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery;Laravel,jQuery,Just as welcome now as I felt last year,37.0,13,3
3261,I am a developer by profession,Yes,34.0,23,Weekly,1.150000e+05,2000000.0,United States,United States dollar,USD,DynamoDB;MySQL;Redis,DynamoDB;MongoDB,Data scientist or machine learning specialist;...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",White or of European descent;South Asian;Multi...,Man,"Languages, frameworks, and other technologies ...",Very dissatisfied,I am actively looking for a job,HTML/CSS;Java;JavaScript;Python,HTML/CSS;Java;JavaScript;Python,NaN,NaN,Confluence;Jira;Github;Slack;Google Suite (Doc...,Confluence;Jira;Github;Slack;Google Suite (Doc...,Yes,Extremely important,Critically important,Having a bad day (or week or month) at work;Cu...,"Read company media, such as employee blogs or ...",Once every few years,No,No,No,Often: 1-2 days per week or more,Visit developer communities like Stack Overflow,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,MacOS,100 to 499 employees,AWS;Kubernetes,AWS,NaN,Straight / Heterosexual,Yes,"Yes, definitely",I have never participated in Q&A on Stack Over...,A few times per week,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;jQuery;Spring,Spring,Just as welcome now as I felt last year,60.0,11,9

In [47]:
df.nsmallest(10,'ConvertedComp')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
35295,I am a developer by profession,Yes,NaN,13,Monthly,2.0,0.0,Afghanistan,Afghan afghani,AFN,NaN,MySQL;PostgreSQL;SQLite,Academic researcher;Educator;Scientist,"Other doctoral degree (Ph.D., Ed.D., etc.)","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,Very dissatisfied,I am actively looking for a job,NaN,Assembly;Bash/Shell/PowerShell;C;C++;Java;Java...,NaN,TensorFlow;Unity 3D,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a year,Yes,Onboarding? What onboarding?,Yes,Often: 1-2 days per week or more,Read ratings or reviews on third party sites l...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Go for a walk or other physical act...,Linux-based,"Just me - I am a freelancer, sole proprietor, ...",NaN,Android;iOS;Linux;MacOS,NaN,NaN,Yes,"No, not at all",Less than once per month or monthly,Multiple times per day,Neither easy nor difficult,Appropriate in length,NaN,"Another engineering discipline (such as civil,...",NaN,jQuery,A lot less welcome now than last year,100.0,35,27
47357,I am a developer by profession,Yes,NaN,5,Weekly,1.0,0.0,Albania,Bhutanese ngultrum,BTN,MariaDB,NaN,Academic researcher,Primary/elementary school,Employed full-time,NaN,NaN,Family friendliness,Neither satisfied nor dissatisfied,I am actively looking for a job,Bash/Shell/PowerShell;C,NaN,Hadoop,NaN,"Google Suite (Docs, Meet, etc)",NaN,No,Extremely important,Somewhat important,Just because,"Read company media, such as employee blogs or ...",Once a decade,NaN,Yes,No,Rarely: 1-2 days per year or less,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Play games,Linux-based,"Just me - I am a freelancer, sole proprietor, ...",AWS,NaN,NaN,NaN,Yes,"No, not at all",Daily or almost daily,A few times per month or weekly,NaN,NaN,NaN,NaN,Drupal,NaN,Somewhat less welcome now than last year,168.0,2,11
27135,I am a developer by profession,No,NaN,16,Yearly,0.0,0.0,Australia,Australian dollar,AUD,MySQL,MySQL,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",NaN,Man,Industry that I’d be working in;How widely use...,Very satisfied,"I’m not actively looking, but I am open to new...",Go;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;PHP;Python;R;SQL;VBA,Apache Spark;Node.js;Pandas;TensorFlow;Torch/P...,Apache Spark;Node.js;Pandas;TensorFlow;Torch/P...,Jira;Github;Trello,Jira;Github;Trello,No,Extremely important,Fairly important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Every few months,Not sure,Onboarding? What onboarding?,No,Often: 1-2 days per week or more,Start a free trial;Visit developer communities...,Indifferent,Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Go for a walk ...,Windows,2 to 9 employees,Raspberry Pi;Windows,Google Cloud Platform;Raspberry Pi;Windows,NaN,NaN,Yes,"No, not really",I have never participated in Q&A on Stack Over...,A few times per week,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",Angular.js;Django;jQuery;React.js;Vue.js,Django;jQuery;React.js,Just as welcome now as I felt last year,80.0,15,15
6054,I am a developer by profession,Yes,38.0,15,Yearly,0.0,0.0,Australia,Australian dollar,AUD,NaN,MySQL,"Designer;Developer, back-end;Developer, front-...","Secondary school (e.g. American high school, G...","Independent contractor, freelancer, or self-em...",NaN,Man,"Flex time or a flexible schedule;Languages, fr...",Very satisfied,I am not interested in new job opportunities,NaN,PHP,NaN,NaN,NaN,NaN,No,Neutral,Not at all important/not necessary,NaN,NaN,Once every few years,Not sure,Onboarding? What onboarding?,Yes,Often: 1-2 days per week or more,NaN,Indifferent,Stack Overflow (public Q&A for anyone who code...,NaN,MacOS,"Just me - I am a freelancer, sole proprietor, ...",NaN,MacOS,NaN,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,Easy,Too long,No,NaN,NaN,Laravel,A lot less welcome now than last year,30.0,22,20
60292,I am a developer by profession,Yes,NaN,12,Yearly,0.0,0.0,Austria,European Euro,EUR,NaN,NaN,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fairly important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"10,000 or more employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,18,10
38813,I am a developer by profession,No,NaN,18,Monthly,0.0,0.0,Azerbaijan,Azerbaijan manat,AZN,NaN,NaN,Academic researcher;Data or business analyst;D...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Critically important,NaN,NaN,NaN,Not sure,NaN,Yes,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,NaN,2 to 9 employees,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,4,3
8470,I am a developer by profession,Yes,NaN,5,Monthly,30.0,0.0,Bangladesh,Bangladeshi taka,BDT,Elasticsearch;Firebase;MongoDB;MySQL;PostgreSQ...,Firebase;MongoDB;MySQL;Oracle;PostgreSQL;Redis,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Man,NaN,NaN,"I’m not actively looking, but I am open to new...",Bash/Shell/PowerShell;Dart;Go;JavaScript;Pytho...,Assembly;Bash/Shell/PowerShell;C;HTML/CSS;Java...,Flutter;Node.js;React Native;TensorFlow,Node.js,Jira;Github;Gitlab;Slack;Trello;Google Suite (...,Jira;Github;Gitlab;Slack;Trello;Google Suite (...,No,Extremely important,NaN,Curious about other opportunities;Better compe...,NaN,Every few months,NaN,NaN,Yes,Occasionally: 1-2 days per quarter but less th...,Start a free trial,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,MacOS,20 to 99 employees,Android;Arduino;AWS;Docker;Google Cloud Platfo...,Docker;Heroku;Linux;MacOS,NaN,NaN,Yes,"Yes, somewhat",Less than once per month or monthly,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;Laravel;React.js;Vue.js,Django;Express;Gatsby;Laravel;React.js;Vue.js,NaN,NaN,4,2
41006,I am a developer by profession,Yes,22.0,17,Yearly,0.0,0.0,Belgium,Pound sterling,GBP,NaN,Firebase;MySQL;Redis,"Developer, back-end;Developer, desktop or ente...",Some college/university study without earning ...,"Independent contractor, freelancer, or self-em...",Middle Eastern,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,"I’m not actively looking, but I am open to new...",C++;Go;Kotlin;Python;Rust,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...,React Native;TensorFlow,.NET Core;Node.js,NaN,"Github;Gitlab;Trello;Google Suite (Docs, Meet,...",No,Extremely important,Not at all important/not necessary,NaN,"Read company media, such as employee blogs or ...",Every few months,Not sure,Onboarding? What onboarding?,No,Often: 1-2 days per week or more,Read ratings or reviews on third party sites l...,Indifferent,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Panic;Do other work and c...,Linux-based,"Just me - I am a freelancer, sole proprietor, ...",Android;iOS;MacOS;Windows,Docker;Google Cloud Platform;Kubernetes;Linux,NaN,Bisexual,Yes,Neutral,A few times per month or weekly,Daily or almost daily,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",NaN,Angular;ASP.NET Core;React.js;Spring,Just as welcome now as I felt last year,30.0,4,3
15493,I am a developer by profession,No,44.0,17,Monthly,0.0,0.0,Brazil,Brazilian real,BRL,DynamoDB,DynamoDB,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Flex time or a flexible schedule;Languages, fr...",Very satisfied,"I’m not actively looking, but I am open to new...",JavaScript,HTML/CSS;JavaScript,Node.js;React Native;Teraform,Node.js,Github;Facebook Workplace,Github;Slack;Trello,No,Extremely important,Somewhat important,Curious about other opportunities;Better compe...,Company reviews from third party sites (e.g. G...,Once a decade,No,No,Yes,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow...,Windows,"Just me - I am a freelancer, sole proprietor, ...",AWS;Google Cloud Platform,AWS,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",I have never participated in Q&A on Stack Over...,Daily or almost daily,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",React.js,React.js,Just as welcome now as I felt last year,60.0,10,4
57369,I am a developer by profession,No,44.0,18,Monthly,0.0,0.0,Brazil,Brazilian real,BRL,DynamoDB,DynamoDB;MongoDB,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Middle Eastern,Man,"Flex time or a flexible schedule;Languages, fr...",Very satisfied,"I’m not actively looking, but I am open to new...",JavaScript,JavaScript,Node.js;React Native;Teraform,Node.js,Github;Gitlab;Facebook Workplace;Trello;Stack ...,"Github;Slack;Trello;Google Suite (Docs, Meet, ...",No,Somewhat important,Somewhat important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once a decade,No,No,Yes,Often: 1-2 days per week or more,Start a free trial;Visit developer communities...,Indifferent,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow...,Windows,"Just me - I am a freelancer, sole proprietor, ...",AWS,AWS,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, somewhat",I have never participated in Q&A on Stack Over...,Multiple times per day,Easy,Too long,No,"A business discipline (such as accounting, fin...",React.js,React.js,Just as welcome now as I felt last year,60.0,10,5

# Pandas part 8....Grouping and Aggregation

In [3]:
import pandas as pd
df=pd.read_csv('survey_results_public.csv',index_col='Respondent')

In [4]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

In [5]:
df.head(20)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
6,I am a developer by profession,No,NaN,14,NaN,NaN,NaN,Germany,European Euro,EUR,NaN,NaN,"Designer;Developer, front-end;Developer, mobile","Secondary school (e.g. American high school, G...",Employed full-time,White or of European descent,Man,Diversity of the company or organization;Langu...,Slightly satisfied,I am not interested in new job opportunities,HTML/CSS;Java;JavaScript,HTML/CSS;Java;JavaScript,NaN,NaN,Github;Slack,Confluence;Github;Slack;Trello,Not sure,NaN,Fairly important,NaN,NaN,Once a year,No,No,No,Never,Ask developers I know/work with;Read ratings o...,Amused,Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Watch help / t...,Windows,NaN,Android,Android;Docker;WordPress,I have some influence,Straight / Heterosexual,Yes,"Yes, somewhat",A few times per month or weekly,A few times per week,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,NaN,NaN,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very satisfied,"I’m not actively looking, but I am open to new...",C#;HTML/CSS;PHP,C#;HTML/CSS;PHP,NaN,NaN,NaN,NaN,Yes,Extremely important,Very important,Better compensation;Growth or leadership oppor...,"Read company media, such as employee blogs or ...",Every few months,Yes,Yes,No,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Windows,20 to 99 employees,NaN,NaN,NaN,NaN,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,MongoDB,MariaDB;MySQL;Redis,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,Remote work options;Opportunities for professi...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",JavaScript,Python;SQL,Unity 3D,Ansible,NaN,Confluence;Jira;Github;Slack;Microsoft Teams;G...,Yes,Extremely important,Not at all important/not necessary,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once a year,Not sure,Yes,No,Occasionally: 1-2 days per quarter but less th...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,Linux-based,20 to 99 employees,iOS;Slack Apps and Integrations,Docker,I have some influence,Straight / Heterosexual,Yes,"No, not really",Less than once per month or monthly,Multiple times per day,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
9,I am a developer by profession,No,30.0,20,NaN,NaN,NaN,Tunisia,United States dollar,USD,NaN,NaN,"Developer, full-stack","Professional degree (JD, MD, etc.)","Independent contractor, freelancer, or self-em...",NaN,Man,Diversity of the company or organization;Remot...,Very dissatisfied,"I’m not actively looking, but I am open to new...",Python;Rust,HTML/CSS;JavaScript;PHP,NaN,NaN,NaN,"Github;Slack;Trello;Google Suite (Docs, Meet, ...",NaN,NaN,Very important,Curious about other opportunities;Growth or le...,NaN,Once a year,No,Yes,No,Occasionally: 1-2 days per quarter but less th...,Start a free trial,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Meditate,Windows,"Just me - I am a freelancer, sole proprietor, ...",NaN,WordPress,NaN,Straight / Heterosexual,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js,jQuery,Just as welcome now as I felt last year,50.0,6,4
10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,GBP,Microsoft SQL Server,Microsoft SQL Server,"Database administrator;Developer, full-stack;D...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,White or of European descent,Man,Flex time or a flexible schedule;How widely us...,Very satisfied,"I’m not actively looking, but I am open to new...",HTML/CSS;Java;JavaScript;Python;R;SQL,HTML/CSS;Java;JavaScript;Python;SQL,Pandas;TensorFlow,Pandas,Github;Microsoft Teams,Github;Microsoft Teams,No,Neutral,Fairly important,Curious about other opportunities;Better compe...,Company reviews from third party sites (e.g. G...,Every few months,Yes,Onboarding? What onboarding?,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow,Windows,2 to 9 employees,Android;Linux;Raspberry Pi;Windows,Android;Linux;Raspberry Pi;Windows,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
11,I am a developer by profession,Yes,23.0,13,Yearly,31000.0,40070.0,United Kingdom,Pound sterling,GBP,Firebase;MongoDB;PostgreSQL,Firebase;MongoDB;PostgreSQL;SQLite,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Flex time or a flexible schedule;Languages, fr...",Slightly dissatisfied,I am actively looking for a job,Go;JavaScript;Swift;TypeScript,C#;JavaScript;Swift,Node.js;React Native,Node.js,"Jira;Github;Slack;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Microsoft Teams;M...,No,Extremely important,Very important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Every few months,No,Yes,No,Rarely: 1-2 days per year or less,NaN,Annoyed,Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,Windows,"10,000 or more employees",AWS;Docker;iOS;MacOS,AWS;Heroku;iOS,I have little or no influence,Straight / Heterosexual,Yes,"Yes, somewhat",I have never participated in Q&A on Stack Over...,Multiple times per day,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Django;React.js,Angular;Angular.js;Django;React.js,Just as welcome now as I felt last year,40.0,10,2
12,I am a developer by profession,No,49.0,42,Monthly,1100.0,14268.0,Spain,European Euro,EUR,NaN,NaN,"Designer;Developer, front-end",Some college/university study without earning ...,Employed full-time,White or of European descent,Man,Remote work options;Office environment or comp...,Very dissatisfied,"I’m not actively looking, but I am open to new...",HTML/CSS;JavaScript,HTML/CSS;JavaScript,.NET,.NET,Github,Github,Not sure,Neutral,Somewhat important,Better compensation,Personal network - friends or family;Directly ...,Once every few years,Not sure,No,No,Rarely: 1-2 days per year or less,NaN,Indifferent,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow,Windows,2 to 9 employees,Windows;WordPress,Windows;WordPress,I have little or no influence,Straight / Heterosexual,Yes,"Yes, somewhat",A few times per week,Multiple times per day,Easy,Appropriate in length,No,Mathematics or statistics,ASP.NET;jQuery,ASP.NET;jQuery,Just as welcome now as I felt last year,40.0,7,7
13,"I am not primarily a developer, but I write co...",Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands,European Euro,EUR,NaN,NaN,"Designer;Developer, back-end","Secondary school (e.g. American high school, G...",Employed full-time,White or of European descent,Man,Industry that I’d be working in;Financial perf...,Very satisfied,I am not interested in new job opportunities,Python,C;JavaScript;Python,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Having a bad day (or week or month) at work,"Read company media, such as employee blogs or ...",Once every few years,No,Yes,No,Rarely: 1-2 days per year or less,Start a free trial,Amused,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Go for a walk or oth...,MacOS,2 to 9 employees,Linux;MacOS;Windows,MacOS;Windows,I have some influence,Straight / Heterosexual,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20
14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,USD,Firebase;Microsoft SQL Server,Firebase;Microsoft SQL Server,"Developer, desktop or enterprise applications;...","Associate degree (A.A., A.S., etc.)",Employed full-time,White or of European descent,Man,Industry that I’d be working in;Flex time or a...,Slightly satisfied,"I’m not actively looking, but I am open to new...",HTML/CSS;JavaScript;SQL;TypeScript,HTML/CSS;JavaScript;SQL;TypeScript,Node.js,Node.js,Confluence;Jira;Github;Microsoft Teams;Google ...,Confluence;Jira;Github;Microsoft Teams,Yes,Extremely important,Somewhat important,Wanting to share accomplishments with a wider ...,"Read company media, such as employee blogs or ...",Every few months,No,Yes,No,Occasionally: 1-2 days per quarter but less th...,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,100 to 499 employees,Google Cloud Platform;Raspberry Pi;Windows,Google Cloud Platform;Windows,I have little or no influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per week,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
15,I am a student who is learning to code,Yes,NaN,13,NaN,NaN,NaN,France,NaN,NaN,NaN,MySQL;Oracle,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Student,NaN,Man,"Languages, frameworks, and other technologies ...",NaN,"I’m not actively looking, but I am open to new...",Assembly;Bash/Shell/PowerShell;C;Go,Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL,NaN,NaN,Github;Gitlab,Github,NaN,NaN,NaN,NaN,NaN,Once every few years,Yes,NaN,No,NaN,Ask developers I know/work with,Annoyed,Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Panic,Linux-based,NaN,Linux,Linux,NaN,Gay or Lesbian,No,"No, not really",NaN,A few times per month or weekly,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,4,NaN
16,I am a developer by profession,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,GBP,NaN,PostgreSQL,"Database administrator;Developer, back-end;Dev...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,Industry that I’d be working in;Diversity of t...,Very satisfied,"I’m not actively looking, but I am open to new...",Go,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,NaN,NaN,NaN,"Github;Slack;Google Suite (Docs, Meet, etc);St...",No,Extremely important,Fairly important,Having a bad day (or week or month) at work;Cu...,Personal network - friends or family;Directly ...,Once a year,Not sure,Yes,No,Often: 1-2 days per week or more,Ask developers I know/work with;Visit develope...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"Just me - I am a freelancer, sole proprietor, ...",NaN,AWS;Docker;Google Cloud Platform;Heroku;Kubern...,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Multiple times per day,Multiple times per day,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23
17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,USD,Cassandra;Elasticsearch;MariaDB;PostgreSQL;Redis,Microsoft SQL Server;PostgreSQL,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Industry that I’d be working in;Languages, fra...",Slightly dissatisfied,"I’m not actively looking, but I am open to new...",C#;Go;Haskell;HTML/CSS;JavaScript;Python;Ruby;...,C#;HTML/CSS;JavaScript;Python;SQL;VBA,.NET Core;Teraform,.NET;Node.js,"Github;Gitlab;Slack;Google Suite (Docs, Meet, ...",Github;Gitlab;Slack;Microsoft Teams;Google Sui...,Yes,Extremely important,Fairly important,Having a bad day (or week or month) at work;Be...,Company reviews from third party sites (e.g. G...,Once a year,Not sure,No,No,Rarely: 1-2 days per year or less,NaN,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,20 to 99 employees,Docker;Kubernetes;Microsoft Azure,NaN,I have little or no influence,Straight / Heterosexual,Yes,"No, not at all",I have never participated in Q&A on Stack Over...,Daily or almost daily,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3

In [6]:
df[['Country','ConvertedComp']].head(20)

                       Country  ConvertedComp
Respondent
1                      Germany            NaN
2               United Kingdom            NaN
3           Russian Federation            NaN
4                      Albania            NaN
5                United States            NaN
6                      Germany            NaN
7                        India            NaN
8                United States       116000.0
9                      Tunisia            NaN
10              United Kingdom        32315.0
11              United Kingdom        40070.0
12                       Spain        14268.0
13                 Netherlands        38916.0
14               United States        66000.0
15                      France            NaN
16              United Kingdom       108576.0
17               United States        79000.0
18               United States      1260000.0
19               United States        83400.0
20                       Spain            NaN

In [7]:
df['ConvertedComp'].median()

54049.0

In [8]:
df.median()

C:\Users\PRANJA~1\AppData\Local\Temp/ipykernel_21080/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Age                 29.0
CompTotal        63000.0
ConvertedComp    54049.0
WorkWeekHrs         40.0
dtype: float64

In [9]:
df.describe()

                Age      CompTotal  ConvertedComp   WorkWeekHrs
count  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean      30.834111  3.190464e+242   1.037561e+05     40.782174
std        9.585392            inf   2.268853e+05     17.816383
min        1.000000   0.000000e+00   0.000000e+00      1.000000
25%       24.000000   2.000000e+04   2.464800e+04     40.000000
50%       29.000000   6.300000e+04   5.404900e+04     40.000000
75%       35.000000   1.250000e+05   9.500000e+04     44.000000
max      279.000000  1.111111e+247   2.000000e+06    475.000000

In [10]:
df['Age'].describe()

count    45446.000000
mean        30.834111
std          9.585392
min          1.000000
25%         24.000000
50%         29.000000
75%         35.000000
max        279.000000
Name: Age, dtype: float64

In [11]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [12]:
df['OpSys'].value_counts()

Windows        27170
Linux-based    14932
MacOS          14075
BSD               51
Name: OpSys, dtype: int64

In [13]:
df['WebframeDesireNextYear'].value_counts()

React.js                                                         2480
ASP.NET Core                                                     1106
Vue.js                                                           1079
Spring                                                           1011
Express;React.js                                                  899
                                                                 ...
Angular;Express;jQuery;Laravel;React.js;Spring;Symfony              1
Drupal;Flask;Gatsby;Ruby on Rails;Symfony;Vue.js                    1
Angular.js;Express;React.js;Ruby on Rails;Spring;Vue.js             1
Angular.js;Gatsby;Laravel;Ruby on Rails;Spring;Symfony;Vue.js       1
Drupal;Flask;Gatsby;Spring;Vue.js                                   1
Name: WebframeDesireNextYear, Length: 3986, dtype: int64

In [14]:
df.columns

Index(['MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq', 'CompTotal',
       'ConvertedComp', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [15]:
df['Country'].value_counts(normalize=True)

United States       0.194609
India               0.131149
United Kingdom      0.060807
Germany             0.060713
Canada              0.034196
                      ...
Kiribati            0.000016
Nauru               0.000016
Lesotho             0.000016
Saint Lucia         0.000016
Marshall Islands    0.000016
Name: Country, Length: 183, dtype: float64

In [16]:
filt=df['Country']=='India'
df.loc[filt]['OpSys'].value_counts()

Windows        3426
Linux-based    2077
MacOS          1158
BSD               5
Name: OpSys, dtype: int64

In [17]:
grp=df.groupby(['Country'])
grp['OpSys'].value_counts().head(35)

Country      OpSys
Afghanistan  Windows         31
             Linux-based      8
             MacOS            5
Albania      Windows         24
             MacOS            7
             Linux-based      6
Algeria      Windows         44
             Linux-based     25
             MacOS            5
             BSD              1
Andorra      Linux-based      4
             Windows          2
             BSD              1
Angola       Windows          3
             Linux-based      1
Argentina    Windows        142
             Linux-based    129
             MacOS           75
Armenia      Linux-based     21
             Windows         20
             MacOS           10
Australia    Windows        513
             MacOS          387
             Linux-based    211
Austria      Windows        274
             Linux-based    154
             MacOS           76
Azerbaijan   Windows         25
             Linux-based      9
             MacOS            5
Bahamas      MacOS            2
Bahrain      Windows          5
             MacOS            3
Bangladesh   Windows        330
             Linux-based    119
Name: OpSys, dtype: int64

In [18]:
grp['OpSys'].value_counts(normalize=True).loc['India']

OpSys
Windows        0.513951
Linux-based    0.311581
MacOS          0.173717
BSD            0.000750
Name: OpSys, dtype: float64

In [19]:
grp['EdLevel'].value_counts().loc['India']

EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          4578
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       1432
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     410
Some college/university study without earning a degree                                 252
Primary/elementary school                                                               72
I never completed any formal education                                                  56
Professional degree (JD, MD, etc.)                                                      40
Other doctoral degree (Ph.D., Ed.D., etc.)                                              26
Associate degree (A.A., A.S., etc.)                                                      7
Name: EdLevel, dtype: int64

In [20]:
sal=df.groupby(['Country'])
sal['ConvertedComp'].median().loc[['India','Germany']]

Country
India      10056.0
Germany    62697.0
Name: ConvertedComp, dtype: float64

In [21]:
cp=df.groupby(['Country'])
cp['ConvertedComp'].agg(['mean','median','std']).head(20)

                              mean   median            std
Country
Afghanistan          148290.125000  15163.5  332705.942277
Albania               25611.000000  15900.0   40946.849387
Algeria               10362.812500   9432.0    8802.055769
Andorra               88640.000000  88640.0   74908.063972
Angola                 5292.000000   5292.0     627.910822
Antigua and Barbuda            NaN      NaN            NaN
Argentina             29010.033473  17520.0   78377.624919
Armenia               30421.285714  21066.0   33250.107944
Australia            146165.814767  76831.0  229819.417735
Austria               83077.661342  51888.0  143095.880135
Azerbaijan            14909.142857  11988.0    9964.712551
Bahamas               86706.000000  86706.0     415.778787
Bahrain               39592.000000  40196.0   26084.817960
Bangladesh            21586.559783   7068.0  104208.850615
Barbados              25074.000000  25074.0   10004.146740
Belarus               30946.106667  27600.0   19823.385253
Belgium               77264.657588  45396.0  124762.095900
Belize                49600.000000  49600.0            NaN
Benin                 45281.500000  45281.5   27686.766017
Bhutan                 8825.600000  11207.0    5032.207995

In [22]:
filt=df['Country']=='India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

2670

In [23]:
grp=df.groupby(['Country'])
grp["LanguageWorkedWith"].apply(lambda x:x.str.contains('Python').sum()).head(25)

Country
Afghanistan                11
Albania                    13
Algeria                    40
Andorra                     3
Angola                      1
Antigua and Barbuda         0
Argentina                 134
Armenia                    17
Australia                 524
Austria                   205
Azerbaijan                 11
Bahamas                     1
Bahrain                     2
Bangladesh                179
Barbados                    2
Belarus                    40
Belgium                   173
Belize                      2
Benin                       3
Bhutan                      1
Bolivia                    10
Bosnia and Herzegovina     25
Botswana                    2
Brazil                    635
Brunei Darussalam           2
Name: LanguageWorkedWith, dtype: int64

## Creating a datafarame from stack overflow dataset and analyzing percentage of people knowing Python from different countries

In [24]:
total_resp=df['Country'].value_counts()
total_resp

United States       12469
India                8403
United Kingdom       3896
Germany              3890
Canada               2191
                    ...
Kiribati                1
Nauru                   1
Lesotho                 1
Saint Lucia             1
Marshall Islands        1
Name: Country, Length: 183, dtype: int64

In [25]:
grp=df.groupby(['Country'])
knows_python=grp['LanguageWorkedWith'].apply(lambda x:x.str.contains('Python').sum())
knows_python

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [26]:
python_df=pd.concat([total_resp,knows_python],axis='columns',sort=False)
python_df

                  Country  LanguageWorkedWith
United States       12469                5964
India                8403                2670
United Kingdom       3896                1621
Germany              3890                1712
Canada               2191                1011
...                   ...                 ...
Kiribati                1                   0
Nauru                   1                   0
Lesotho                 1                   0
Saint Lucia             1                   1
Marshall Islands        1                   0

[183 rows x 2 columns]

In [27]:
python_df.rename(columns={'Country':'total_resp','LanguageWorkedWith':'knows_python'},inplace=True)

In [28]:
python_df

                  total_resp  knows_python
United States          12469          5964
India                   8403          2670
United Kingdom          3896          1621
Germany                 3890          1712
Canada                  2191          1011
...                      ...           ...
Kiribati                   1             0
Nauru                      1             0
Lesotho                    1             0
Saint Lucia                1             1
Marshall Islands           1             0

[183 rows x 2 columns]

In [29]:
python_df['%_knows_python']= (python_df['knows_python']/python_df['total_resp'])*100

In [30]:
python_df.sort_values(by='%_knows_python',ascending=False).head(50)

                                      total_resp  knows_python  %_knows_python
Gabon                                          1             1      100.000000
Saint Lucia                                    1             1      100.000000
Micronesia, Federated States of...             1             1      100.000000
Montenegro                                    13             9       69.230769
Brunei Darussalam                              3             2       66.666667
Guyana                                         5             3       60.000000
Swaziland                                      7             4       57.142857
Iceland                                       53            28       52.830189
Finland                                      349           183       52.435530
Uganda                                        81            42       51.851852
Belize                                         4             2       50.000000
Solomon Islands                                2             1       50.000000
Burkina Faso                                   6             3       50.000000
Mauritania                                     4             2       50.000000
Papua New Guinea                               2             1       50.000000
Jamaica                                       14             7       50.000000
Timor-Leste                                    2             1       50.000000
Cameroon                                      50            24       48.000000
United States                              12469          5964       47.830620
Israel                                       653           307       47.013783
Ecuador                                       49            23       46.938776
Taiwan                                       158            73       46.202532
Canada                                      2191          1011       46.143314
Oman                                          11             5       45.454545
Estonia                                      145            65       44.827586
Ireland                                      444           199       44.819820
Japan                                        297           132       44.444444
Switzerland                                  629           278       44.197138
Germany                                     3890          1712       44.010283
France                                      1898           833       43.888303
Costa Rica                                    76            33       43.421053
Singapore                                    228            99       43.421053
Australia                                   1208           524       43.377483
Democratic Republic of the Congo               7             3       42.857143
Lao People's Democratic Republic               7             3       42.857143
Trinidad and Tobago                            7             3       42.857143
China                                        371           158       42.587601
Peru                                         101            43       42.574257
Algeria                                       94            40       42.553191
Malta                                         47            20       42.553191
Zimbabwe                                      31            13       41.935484
Norway                                       384           160       41.666667
New Zealand                                  353           147       41.643059
United Kingdom                              3896          1621       41.606776
Hong Kong (S.A.R.)                           111            46       41.441441
Venezuela, Bolivarian Republic of...          70            29       41.428571
Slovenia                                     157            65       41.401274
Kenya                                        271           111       40.959410
Netherlands                                 1343           544       40.506329
Cyprus                                        50            20       40.000000

In [31]:
python_df.head(15)

                    total_resp  knows_python  %_knows_python
United States            12469          5964       47.830620
India                     8403          2670       31.774366
United Kingdom            3896          1621       41.606776
Germany                   3890          1712       44.010283
Canada                    2191          1011       46.143314
France                    1898           833       43.888303
Brazil                    1818           635       34.928493
Netherlands               1343           544       40.506329
Poland                    1278           509       39.827856
Australia                 1208           524       43.377483
Spain                     1161           448       38.587425
Italy                     1117           422       37.779767
Russian Federation        1092           421       38.553114
Sweden                     886           353       39.841986
Pakistan                   809           246       30.407911

## Percentage of people using Windows Operating System in different countries from our survey data

In [32]:
total_resp=df['Country'].value_counts()

In [33]:
grp=df.groupby(['Country'])
windows=grp['OpSys'].apply(lambda x:x.str.contains('Windows').sum())

In [34]:
win_df=pd.concat([total_resp,windows],axis='columns',sort=False)

In [35]:
win_df.rename(columns={'Country':'total_resp','OpSys':'use_win'},inplace=True)

In [36]:
win_df['%_uses_windows']= (win_df['use_win']/win_df['total_resp'])*100

In [37]:
win_df.head(35)

                    total_resp  use_win  %_uses_windows
United States            12469     4874       39.088941
India                     8403     3426       40.771153
United Kingdom            3896     1761       45.200205
Germany                   3890     1558       40.051414
Canada                    2191      891       40.666362
France                    1898      658       34.668072
Brazil                    1818      663       36.468647
Netherlands               1343      555       41.325391
Poland                    1278      531       41.549296
Australia                 1208      513       42.466887
Spain                     1161      471       40.568475
Italy                     1117      507       45.389436
Russian Federation        1092      471       43.131868
Sweden                     886      364       41.083521
Pakistan                   809      424       52.410383
Turkey                     777      356       45.817246
Israel                     653      308       47.166922
Switzerland                629      275       43.720191
Bangladesh                 609      330       54.187192
Romania                    604      318       52.649007
Nigeria                    593      345       58.178752
Mexico                     540      226       41.851852
Austria                    539      274       50.834879
Ukraine                    539      189       35.064935
Czech Republic             500      229       45.800000
Indonesia                  499      207       41.482966
South Africa               494      282       57.085020
Iran                       491      205       41.751527
Belgium                    459      248       54.030501
Ireland                    444      202       45.495495
Philippines                405      225       55.555556
Denmark                    397      202       50.881612
Argentina                  395      142       35.949367
Greece                     390      200       51.282051
Portugal                   388      176       45.360825

# Pandas part 9... Handling Missing Values And Casting DataTypes

In [27]:
import pandas as pd
import numpy as np

In [28]:
people={'first':['corey','jane','john','chris',np.nan,None,'NA'],
        'last':['schafer','doe','doe','schafer',np.nan,np.nan,'Missing'],
        'email':['cms@gmail.com','janedoe@gmail.com','johndoe@gmail.com',None,np.nan,'annonymus@gmail.com','NA'],
         'age':['33','55','63','36',None,None,'Missing']}

## .Handling Missing values in our small dataset

In [29]:
df=pd.DataFrame(people)
df

   first     last                email      age
0  corey  schafer        cms@gmail.com       33
1   jane      doe    janedoe@gmail.com       55
2   john      doe    johndoe@gmail.com       63
3  chris  schafer                 None       36
4    NaN      NaN                  NaN     None
5   None      NaN  annonymus@gmail.com     None
6     NA  Missing                   NA  Missing

In [30]:
df.replace('NA',np.nan,inplace=True)
df.replace('Missing',np.nan,inplace=True)
df

   first     last                email   age
0  corey  schafer        cms@gmail.com    33
1   jane      doe    janedoe@gmail.com    55
2   john      doe    johndoe@gmail.com    63
3  chris  schafer                 None    36
4    NaN      NaN                  NaN  None
5   None      NaN  annonymus@gmail.com  None
6    NaN      NaN                  NaN   NaN

In [31]:
df.dropna()

   first     last              email age
0  corey  schafer      cms@gmail.com  33
1   jane      doe  janedoe@gmail.com  55
2   john      doe  johndoe@gmail.com  63

In [32]:
df.dropna(axis='index',how='any')

   first     last              email age
0  corey  schafer      cms@gmail.com  33
1   jane      doe  janedoe@gmail.com  55
2   john      doe  johndoe@gmail.com  63

In [33]:
df.dropna(axis='index',how='all')

   first     last                email   age
0  corey  schafer        cms@gmail.com    33
1   jane      doe    janedoe@gmail.com    55
2   john      doe    johndoe@gmail.com    63
3  chris  schafer                 None    36
5   None      NaN  annonymus@gmail.com  None

In [34]:
df.dropna(axis='columns',how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

In [35]:
df.dropna(axis='index',how='any',subset=['email'])

   first     last                email   age
0  corey  schafer        cms@gmail.com    33
1   jane      doe    janedoe@gmail.com    55
2   john      doe    johndoe@gmail.com    63
5   None      NaN  annonymus@gmail.com  None

In [36]:
df.dropna(axis='index',how='all',subset=['email','last'])

   first     last                email   age
0  corey  schafer        cms@gmail.com    33
1   jane      doe    janedoe@gmail.com    55
2   john      doe    johndoe@gmail.com    63
3  chris  schafer                 None    36
5   None      NaN  annonymus@gmail.com  None

In [37]:
df.dropna(axis='index',how='any',subset=['email','last'])

   first     last              email age
0  corey  schafer      cms@gmail.com  33
1   jane      doe  janedoe@gmail.com  55
2   john      doe  johndoe@gmail.com  63

## .Casting datatypes in small dataset using .astype(dtyp)

In [38]:
df.dtypes

first    object
last     object
email    object
age      object
dtype: object

In [39]:
df['age'].astype(float).mean()

46.75

In [40]:
df['age']=df['age'].astype(float)

In [41]:
df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [42]:
df['age'].mean()

46.75

## .Working with our StackOverflow dataset to handle missing values and casting of datatypes

In [17]:
import pandas as pd
import numpy as np

In [46]:
miss_vals=['Missing','NA']
df=pd.read_csv('survey_results_public.csv',index_col='Respondent',na_values=miss_vals)

In [47]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',100)

In [48]:
df.head(25)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
6,I am a developer by profession,No,NaN,14,NaN,NaN,NaN,Germany,European Euro,EUR,NaN,NaN,"Designer;Developer, front-end;Developer, mobile","Secondary school (e.g. American high school, G...",Employed full-time,White or of European descent,Man,Diversity of the company or organization;Langu...,Slightly satisfied,I am not interested in new job opportunities,HTML/CSS;Java;JavaScript,HTML/CSS;Java;JavaScript,NaN,NaN,Github;Slack,Confluence;Github;Slack;Trello,Not sure,NaN,Fairly important,NaN,NaN,Once a year,No,No,No,Never,Ask developers I know/work with;Read ratings o...,Amused,Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Watch help / t...,Windows,NaN,Android,Android;Docker;WordPress,I have some influence,Straight / Heterosexual,Yes,"Yes, somewhat",A few times per month or weekly,A few times per week,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,NaN,NaN,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very satisfied,"I’m not actively looking, but I am open to new...",C#;HTML/CSS;PHP,C#;HTML/CSS;PHP,NaN,NaN,NaN,NaN,Yes,Extremely important,Very important,Better compensation;Growth or leadership oppor...,"Read company media, such as employee blogs or ...",Every few months,Yes,Yes,No,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Windows,20 to 99 employees,NaN,NaN,NaN,NaN,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,MongoDB,MariaDB;MySQL;Redis,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,Remote work options;Opportunities for professi...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",JavaScript,Python;SQL,Unity 3D,Ansible,NaN,Confluence;Jira;Github;Slack;Microsoft Teams;G...,Yes,Extremely important,Not at all important/not necessary,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once a year,Not sure,Yes,No,Occasionally: 1-2 days per quarter but less th...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,Linux-based,20 to 99 employees,iOS;Slack Apps and Integrations,Docker,I have some influence,Straight / Heterosexual,Yes,"No, not really",Less than once per month or monthly,Multiple times per day,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
9,I am a developer by profession,No,30.0,20,NaN,NaN,NaN,Tunisia,United States dollar,USD,NaN,NaN,"Developer, full-stack","Professional degree (JD, MD, etc.)","Independent contractor, freelancer, or self-em...",NaN,Man,Diversity of the company or organization;Remot...,Very dissatisfied,"I’m not actively looking, but I am open to new...",Python;Rust,HTML/CSS;JavaScript;PHP,NaN,NaN,NaN,"Github;Slack;Trello;Google Suite (Docs, Meet, ...",NaN,NaN,Very important,Curious about other opportunities;Growth or le...,NaN,Once a year,No,Yes,No,Occasionally: 1-2 days per quarter but less th...,Start a free trial,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Meditate,Windows,"Just me - I am a freelancer, sole proprietor, ...",NaN,WordPress,NaN,Straight / Heterosexual,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js,jQuery,Just as welcome now as I felt last year,50.0,6,4
10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,GBP,Microsoft SQL Server,Microsoft SQL Server,"Database administrator;Developer, full-stack;D...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,White or of European descent,Man,Flex time or a flexible schedule;How widely us...,Very satisfied,"I’m not actively looking, but I am open to new...",HTML/CSS;Java;JavaScript;Python;R;SQL,HTML/CSS;Java;JavaScript;Python;SQL,Pandas;TensorFlow,Pandas,Github;Microsoft Teams,Github;Microsoft Teams,No,Neutral,Fairly important,Curious about other opportunities;Better compe...,Company reviews from third party sites (e.g. G...,Every few months,Yes,Onboarding? What onboarding?,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow,Windows,2 to 9 employees,Android;Linux;Raspberry Pi;Windows,Android;Linux;Raspberry Pi;Windows,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
11,I am a developer by profession,Yes,23.0,13,Yearly,31000.0,40070.0,United Kingdom,Pound sterling,GBP,Firebase;MongoDB;PostgreSQL,Firebase;MongoDB;PostgreSQL;SQLite,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Flex time or a flexible schedule;Languages, fr...",Slightly dissatisfied,I am actively looking for a job,Go;JavaScript;Swift;TypeScript,C#;JavaScript;Swift,Node.js;React Native,Node.js,"Jira;Github;Slack;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Microsoft Teams;M...,No,Extremely important,Very important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Every few months,No,Yes,No,Rarely: 1-2 days per year or less,NaN,Annoyed,Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,Windows,"10,000 or more employees",AWS;Docker;iOS;MacOS,AWS;Heroku;iOS,I have little or no influence,Straight / Heterosexual,Yes,"Yes, somewhat",I have never participated in Q&A on Stack Over...,Multiple times per day,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Django;React.js,Angular;Angular.js;Django;React.js,Just as welcome now as I felt last year,40.0,10,2
12,I am a developer by profession,No,49.0,42,Monthly,1100.0,14268.0,Spain,European Euro,EUR,NaN,NaN,"Designer;Developer, front-end",Some college/university study without earning ...,Employed full-time,White or of European descent,Man,Remote work options;Office environment or comp...,Very dissatisfied,"I’m not actively looking, but I am open to new...",HTML/CSS;JavaScript,HTML/CSS;JavaScript,.NET,.NET,Github,Github,Not sure,Neutral,Somewhat important,Better compensation,Personal network - friends or family;Directly ...,Once every few years,Not sure,No,No,Rarely: 1-2 days per year or less,NaN,Indifferent,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow,Windows,2 to 9 employees,Windows;WordPress,Windows;WordPress,I have little or no influence,Straight / Heterosexual,Yes,"Yes, somewhat",A few times per week,Multiple times per day,Easy,Appropriate in length,No,Mathematics or statistics,ASP.NET;jQuery,ASP.NET;jQuery,Just as welcome now as I felt last year,40.0,7,7
13,"I am not primarily a developer, but I write co...",Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands,European Euro,EUR,NaN,NaN,"Designer;Developer, back-end","Secondary school (e.g. American high school, G...",Employed full-time,White or of European descent,Man,Industry that I’d be working in;Financial perf...,Very satisfied,I am not interested in new job opportunities,Python,C;JavaScript;Python,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Having a bad day (or week or month) at work,"Read company media, such as employee blogs or ...",Once every few years,No,Yes,No,Rarely: 1-2 days per year or less,Start a free trial,Amused,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Go for a walk or oth...,MacOS,2 to 9 employees,Linux;MacOS;Windows,MacOS;Windows,I have some influence,Straight / Heterosexual,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20
14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,USD,Firebase;Microsoft SQL Server,Firebase;Microsoft SQL Server,"Developer, desktop or enterprise applications;...","Associate degree (A.A., A.S., etc.)",Employed full-time,White or of European descent,Man,Industry that I’d be working in;Flex time or a...,Slightly satisfied,"I’m not actively looking, but I am open to new...",HTML/CSS;JavaScript;SQL;TypeScript,HTML/CSS;JavaScript;SQL;TypeScript,Node.js,Node.js,Confluence;Jira;Github;Microsoft Teams;Google ...,Confluence;Jira;Github;Microsoft Teams,Yes,Extremely important,Somewhat important,Wanting to share accomplishments with a wider ...,"Read company media, such as employee blogs or ...",Every few months,No,Yes,No,Occasionally: 1-2 days per quarter but less th...,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,100 to 499 employees,Google Cloud Platform;Raspberry Pi;Windows,Google Cloud Platform;Windows,I have little or no influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per week,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
15,I am a student who is learning to code,Yes,NaN,13,NaN,NaN,NaN,France,NaN,NaN,NaN,MySQL;Oracle,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Student,NaN,Man,"Languages, frameworks, and other technologies ...",NaN,"I’m not actively looking, but I am open to new...",Assembly;Bash/Shell/PowerShell;C;Go,Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL,NaN,NaN,Github;Gitlab,Github,NaN,NaN,NaN,NaN,NaN,Once every few years,Yes,NaN,No,NaN,Ask developers I know/work with,Annoyed,Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Panic,Linux-based,NaN,Linux,Linux,NaN,Gay or Lesbian,No,"No, not really",NaN,A few times per month or weekly,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,4,NaN
16,I am a developer by profession,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,GBP,NaN,PostgreSQL,"Database administrator;Developer, back-end;Dev...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,Industry that I’d be working in;Diversity of t...,Very satisfied,"I’m not actively looking, but I am open to new...",Go,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,NaN,NaN,NaN,"Github;Slack;Google Suite (Docs, Meet, etc);St...",No,Extremely important,Fairly important,Having a bad day (or week or month) at work;Cu...,Personal network - friends or family;Directly ...,Once a year,Not sure,Yes,No,Often: 1-2 days per week or more,Ask developers I know/work with;Visit develope...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"Just me - I am a freelancer, sole proprietor, ...",NaN,AWS;Docker;Google Cloud Platform;Heroku;Kubern...,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Multiple times per day,Multiple times per day,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23
17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,USD,Cassandra;Elasticsearch;MariaDB;PostgreSQL;Redis,Microsoft SQL Server;PostgreSQL,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Industry that I’d be working in;Languages, fra...",Slightly dissatisfied,"I’m not actively looking, but I am open to new...",C#;Go;Haskell;HTML/CSS;JavaScript;Python;Ruby;...,C#;HTML/CSS;JavaScript;Python;SQL;VBA,.NET Core;Teraform,.NET;Node.js,"Github;Gitlab;Slack;Google Suite (Docs, Meet, ...",Github;Gitlab;Slack;Microsoft Teams;Google Sui...,Yes,Extremely important,Fairly important,Having a bad day (or week or month) at work;Be...,Company reviews from third party sites (e.g. G...,Once a year,Not sure,No,No,Rarely: 1-2 days per year or less,NaN,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,20 to 99 employees,Docker;Kubernetes;Microsoft Azure,NaN,I have little or no influence,Straight / Heterosexual,Yes,"No, not at all",I have never participated in Q&A on Stack Over...,Daily or almost daily,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3

In [50]:
df['ConvertedComp'].mean()

103756.05014961446

In [52]:
df['YearsCode'].unique()

array(['36', '7', '4', '15', '6', '17', '8', '10', '35', '5', '37', '19',
       '9', '22', '30', '23', '20', '2', 'Less than 1 year', '3', '13',
       '25', '16', '43', '11', '38', '33', nan, '24', '21', '12', '40',
       '27', '50', '46', '14', '18', '28', '32', '44', '26', '42', '31',
       '34', '29', '1', '39', '41', '45', 'More than 50 years', '47',
       '49', '48'], dtype=object)

In [53]:
df['YearsCode'].mean()

TypeError: can only concatenate str (not "int") to str

In [54]:
df['YearsCode']=df['YearsCode'].astype(float)

ValueError: could not convert string to float: 'Less than 1 year'

In [55]:
df['YearsCode'].unique()

array(['36', '7', '4', '15', '6', '17', '8', '10', '35', '5', '37', '19',
       '9', '22', '30', '23', '20', '2', 'Less than 1 year', '3', '13',
       '25', '16', '43', '11', '38', '33', nan, '24', '21', '12', '40',
       '27', '50', '46', '14', '18', '28', '32', '44', '26', '42', '31',
       '34', '29', '1', '39', '41', '45', 'More than 50 years', '47',
       '49', '48'], dtype=object)

In [56]:
df['YearsCode'].replace('Less than 1 year','0',inplace=True)

In [58]:
df['YearsCode'].replace('More than 50 years','51',inplace=True)

In [59]:
df['YearsCode'].unique()

array(['36', '7', '4', '15', '6', '17', '8', '10', '35', '5', '37', '19',
       '9', '22', '30', '23', '20', '2', '0', '3', '13', '25', '16', '43',
       '11', '38', '33', nan, '24', '21', '12', '40', '27', '50', '46',
       '14', '18', '28', '32', '44', '26', '42', '31', '34', '29', '1',
       '39', '41', '45', '51', '47', '49', '48'], dtype=object)

In [60]:
df['YearsCode']=df['YearsCode'].astype(float)

In [61]:
df['YearsCode'].mean()

12.709052770265584

# Pandas part 10.....Reading JSON,HTML,EXCEL and other types of files

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560